In [18]:
import pandas as pd

# Load the CSV files
train = pd.read_csv("semart_train.csv", encoding='latin-1', on_bad_lines='skip', engine='python', sep='\t')
val = pd.read_csv("semart_val.csv", encoding='latin-1', on_bad_lines='skip', engine='python', sep='\t')
test = pd.read_csv("semart_test.csv", encoding='latin-1', on_bad_lines='skip', engine='python', sep='\t')

# Concatenate them
full_df = pd.concat([train, val, test], ignore_index=True)

In [19]:
print(full_df.shape)
print(full_df.columns)
print(full_df.isnull().sum())

(21382, 9)
Index(['IMAGE_FILE', 'DESCRIPTION', 'AUTHOR', 'TITLE', 'TECHNIQUE', 'DATE',
       'TYPE', 'SCHOOL', 'TIMEFRAME'],
      dtype='object')
IMAGE_FILE     0
DESCRIPTION    0
AUTHOR         0
TITLE          0
TECHNIQUE      0
DATE           0
TYPE           0
SCHOOL         0
TIMEFRAME      0
dtype: int64

In [20]:
full_df.duplicated(subset=["IMAGE_FILE"]).sum()

np.int64(0)

In [21]:
# Remove rows where AUTHOR contains variants of "unknown" or "ROMANESQUE PAINTER" (case-insensitive)
pattern = r"\b(?:unknown|anon|anonymous|romanesque\s+painter)\b"
full_df_clean = full_df[
    ~full_df["AUTHOR"].astype(str).str.contains(pattern, case=False, na=False)
].reset_index(drop=True)

print("Before:", len(full_df))
print("After :", len(full_df_clean))

Before: 21382
After : 20798

In [22]:
# Check if any UNKNOWN MASTER remains
full_df_clean[
    full_df_clean["AUTHOR"].str.contains("UNKNOWN MASTER", case=False, na=False)
]

Empty DataFrame
Columns: [IMAGE_FILE, DESCRIPTION, AUTHOR, TITLE, TECHNIQUE, DATE, TYPE, SCHOOL, TIMEFRAME]
Index: []

In [23]:
# Check if any UNKNOWN ICON PAINTER remains
full_df_clean[
    full_df_clean["AUTHOR"].str.contains("UNKNOWN ICON PAINTER", case=False, na=False)
]

Empty DataFrame
Columns: [IMAGE_FILE, DESCRIPTION, AUTHOR, TITLE, TECHNIQUE, DATE, TYPE, SCHOOL, TIMEFRAME]
Index: []

In [24]:
# Check if any ROMANESQUE PAINTER remains
full_df_clean[
    full_df_clean["AUTHOR"].str.contains("ROMANESQUE PAINTER", case=False, na=False)
]

Empty DataFrame
Columns: [IMAGE_FILE, DESCRIPTION, AUTHOR, TITLE, TECHNIQUE, DATE, TYPE, SCHOOL, TIMEFRAME]
Index: []

In [25]:
full_df[
    full_df["AUTHOR"].str.contains("UNKNOWN MASTER", case=False, na=False)
]["AUTHOR"].value_counts()

AUTHOR
UNKNOWN MASTER, Italian          179
UNKNOWN MASTER, German            82
UNKNOWN MASTER, Flemish           79
UNKNOWN MASTER, French            26
UNKNOWN MASTER, Spanish           19
UNKNOWN MASTER, Netherlandish     19
UNKNOWN MASTER, Hungarian         11
UNKNOWN MASTER, Dutch             10
UNKNOWN MASTER, Bohemian           7
UNKNOWN MASTER, Austrian           6
UNKNOWN MASTER, Catalan            5
UNKNOWN MASTER, Swiss              5
UNKNOWN MASTER, English            4
UNKNOWN MASTER, Portuguese         1
Name: count, dtype: int64

In [26]:
full_df[
    full_df["AUTHOR"].str.contains("UNKNOWN ICON PAINTER", case=False, na=False)
]["AUTHOR"].value_counts()

AUTHOR
UNKNOWN ICON PAINTER, Russian      21
UNKNOWN ICON PAINTER, Cretan       10
UNKNOWN ICON PAINTER, Greek         9
UNKNOWN ICON PAINTER, Bulgarian     1
Name: count, dtype: int64

In [27]:
full_df[
    full_df["AUTHOR"].str.contains("ROMANESQUE PAINTER", case=False, na=False)
]["AUTHOR"].value_counts()

AUTHOR
ROMANESQUE PAINTER, Italian     29
ROMANESQUE PAINTER, French      26
ROMANESQUE PAINTER, German      15
ROMANESQUE PAINTER, Catalan      8
ROMANESQUE PAINTER, Austrian     4
ROMANESQUE PAINTER, Spanish      3
ROMANESQUE PAINTER, English      2
ROMANESQUE PAINTER, Swiss        1
Name: count, dtype: int64

In [28]:
full_df.to_csv("semart_full.csv", index=False)